@font-face {
  font-family: 'Momo Trust Display';
  src: url(../Fonts/MomoTrustDisplay-Regular.woff2) format('woff2'),
    url(../Fonts/MomoTrustDisplay-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../Fonts/RobotoMono-Bold.woff2) format('woff2'),
    url(../Fonts/RobotoMono-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../Fonts/RobotoMono-Medium.woff2) format('woff2'),
    url(../Fonts/RobotoMono-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../Fonts/RobotoMono-Regular.woff2) format('woff2'),
    url(../Fonts/RobotoMono-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url(../Fonts/Inconsolata-Bold.woff2) format('woff2'),
    url(../Fonts/Inconsolata-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url(../Fonts/Inconsolata-Medium.woff2) format('woff2'),
    url(../Fonts/Inconsolata-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url(../Fonts/Inconsolata-Regular.woff2) format('woff2'),
    url(../Fonts/Inconsolata-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
