@import url(fonts.css);
@import url(reset.css);
@import url(utility.css);

body {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  color: var(--clr-primary);
  padding-block: 2.5rem;
  background: url('../Images/BG-desktop.jpg') no-repeat center/cover,
    conic-gradient(in oklch, var(--bg-gradient));

  /* MOBILE SCREEN */
  @media (max-width: 499px) {
    background-image: url('../Images/BG-mobile.jpg');
  }

  /* TABLET SCREEN */
  @media (min-width: 500px) and (max-width: 992px) {
    background-image: url('../Images/BG-tablet.jpg');
  }
}

main {
  margin-inline: auto;
  margin-block-start: 2.5rem;
  width: min(500px, 90vw);
}

.company-header {
  font-family: var(--ff-brand);
  color: var(--clr-base);
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .company-logo {
    width: 60px;
    aspect-ratio: 2 / 3;
  }

  .company-name {
    line-height: 1;

    p:last-child {
      font-size: 2rem;
      font-weight: 600;
      background: linear-gradient(in oklch to right, var(--txt-gradient));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

#form {
  background-color: var(--clr-secondary);
  padding: 3rem 2.5rem;
  gap: 0.25rem;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.25);

  .form-group {
    font-family: var(--ff-numeric);
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--clr-primary);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;

    #currency {
      background-color: transparent;
      outline: 0;
      border: 0;
    }

    select {
      cursor: pointer;
      appearance: none;
      padding-inline-end: 1.5rem;
      padding-inline-start: 1rem;
      width: 75px;
      color: var(--clr-base);
      font-weight: 500;
      outline-color: transparent;
      border: 0;

      option {
        color: var(--clr-base);
        background-color: var(--clr-accent);
      }
    }

    .custom-select {
      position: relative;
      border-radius: 5px 0 0 5px;
      background-color: var(--clr-accent);

      .select-arrow {
        display: block;
        position: absolute;
        width: 1.75rem;
        height: 100%;
        background-color: hsl(from var(--clr-accent) h s 70%);
        top: 0;
        right: 0;
        pointer-events: none;

        &::before {
          --size: 0.35rem;

          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-left: var(--size) solid transparent;
          border-right: var(--size) solid transparent;
          border-top: var(--size) solid var(--clr-accent);
        }
      }
    }

    .input-container {
      position: relative;

      label {
        position: absolute;
        top: 50%;
        left: 5%;
        opacity: 0.5;
        transform: translateY(-50%);
        transition: all 300ms ease-in-out;

        font-size: 1.125rem;
        padding-inline: 0.5rem;
        cursor: text;
      }

      input:is(:hover, :focus-visible, :not(:placeholder-shown)) + label {
        top: -12.5%;
        opacity: 1;
        background-color: var(--clr-secondary);
        transition: all 300ms ease-in-out;
      }
    }

    .input-amount {
      width: 100%;
      background-color: transparent;
      padding: 0.2rem 0.75rem;
      outline: none;
      border: none;
      border-radius: 8px;
    }
  }

  .terms-text {
    font-size: 0.75rem;

    abbr {
      text-decoration: none;
    }
  }

  .terms-link {
    color: var(--clr-link);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 1.25px;
      transform: scaleX(0);
      transform-origin: 50%;
      background-color: var(--clr-link);
      transition: transform 0.4s ease-in-out;
    }

    &:is(:hover, :focus-visible)::before {
      height: 1.25px;
      transform: scaleX(1);
      transform-origin: 50%;
      transition: transform 0.4s ease-in-out;
    }
  }

  .deposit-btn {
    position: relative;
    padding: 0.5rem 1rem;
    margin-block-start: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    font-weight: 500;
    background-color: var(--clr-accent);
    color: var(--clr-base);
    border: none;
    outline-color: transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;

    .deposit {
      translate: 0 0;
      transition: translate 0.3s 0.1s ease-in-out;
    }

    svg {
      position: absolute;
      top: 20%;
      right: 32.5%;
      transform: translateY(-50%);
      fill: hsl(from var(--clr-accent) h s 70%);
      width: 25px;
      aspect-ratio: 1;
      translate: 5vw -30vh;
      transform: rotate(-35deg);
      display: none;
      opacity: 0;

      transition-property: display opacity transform;
      transition-duration: 0.5s;
      transition-delay: 0.25s;
      transition-behavior: allow-discrete;
    }

    &:is(:hover, :focus-visible) .deposit {
      translate: -1.25rem 0;
    }

    &:is(:hover, :focus-visible) {
      background-image: linear-gradient(in oklch to left, var(--txt-gradient));
    }

    &:is(:hover, :focus-visible) svg {
      display: block;
      opacity: 1;
      translate: 0 0;
      transform: rotate(10deg);

      @starting-style {
        opacity: 0;
        translate: -7.5vw 17.5vh;
      }
    }
  }
}

.attribution {
  color: var(--clr-base);
  font-size: 1rem;
  margin-top: 2.5rem;

  .mailme {
    color: inherit;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 1.25px;
      transform: scaleX(0);
      transform-origin: 50%;
      background-color: var(--clr-base);
      transition: transform 0.4s ease-in-out;
    }

    &:is(:hover, :focus-visible)::before {
      height: 1.25px;
      transform: scaleX(1);
      transform-origin: 50%;
      transition: transform 0.4s ease-in-out;
    }
  }
}
