@import url(fonts.css);
@import url(reset.css);
@import url(utility.css);

body {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  color: var(--clr-text);
  padding-block: 2.5rem;
  background: url('../Images/BG-desktop.jpg') no-repeat center/cover,
    conic-gradient(var(--bg-gradient));

  /* MOBILE SCREEN */
  @media (max-width: 499px) {
    background-image: url('../Images/BG-mobile.jpg');
  }

  /* TABLET SCREEN */
  @media (min-width: 500px) and (max-width: 992px) {
    background-image: url('../Images/BG-tablet.jpg');
  }
}

main {
  margin-inline: auto;
  margin-block-start: 2.5rem;
  width: min(500px, 90vw);
  gap: 0.5rem;
}

.company-header {
  color: var(--clr-native);
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .company-logo {
    width: 80px;
    aspect-ratio: 2 / 3;
  }

  .company-name {
    line-height: 1;

    p:last-child {
      font-size: 2rem;
      font-weight: 600;
      background: linear-gradient(to right, var(--txt-gradient));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

#form {
  background-color: var(--clr-primary);
  padding: 3rem 2.5rem;
  gap: 0.25rem;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 2.5px 2.5px 5px 2.5px rgba(0, 0, 0, 0.25);

  .form-group {
    font-family: var(--ff-numeric);
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--clr-text);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;

    #currency {
      background-color: transparent;
      outline: 0;
      border: 0;
    }

    select {
      padding-inline-end: 1.75rem;
      padding-inline-start: 0.75rem;
      color: var(--clr-primary);
      outline-color: transparent;
      border: 0;

      &:focus option {
        color: var(--clr-primary);
        background-color: hsl(from var(--clr-accent) h s 30% / 0.75);
      }
    }

    .custom-select {
      position: relative;
      border-radius: 5px 0 0 5px;
      background-color: var(--clr-accent);

      .select-arrow {
        display: block;
        position: absolute;
        width: 1.75rem;
        height: 100%;
        background-color: var(--clr-secondary);
        top: 0;
        right: 0;
        pointer-events: none;

        &::before {
          --size: 0.275rem;

          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-left: var(--size) solid transparent;
          border-right: var(--size) solid transparent;
          border-top: var(--size) solid var(--clr-primary);
        }
      }
    }

    .input-container {
      position: relative;

      label {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        transition: all 300ms ease-in-out;

        font-size: 1.125rem;
        padding-inline: 0.5rem;
        cursor: text;
      }

      input:is(:focus-visible) + label {
        top: -20%;
        background-color: var(--clr-primary);
        transition: all 300ms ease-in-out;
      }
    }

    .input-amount {
      width: 100%;
      background-color: transparent;
      padding: 0.2rem 0.75rem;
      outline: none;
      border: none;
      border-radius: 8px;
    }
  }

  .terms-text {
    font-size: 0.75rem;

    abbr {
      text-decoration: none;
    }
  }

  .terms-link {
    text-decoration: none;
    color: var(--clr-link);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 1.25px;
      transform: scaleX(0);
      transform-origin: 50%;
      background-color: var(--clr-text);
      transition: transform 0.4s ease-in-out;
    }

    &:is(:hover, :focus-visible)::before {
      height: 1.25px;
      transform: scaleX(1);
      transform-origin: 50%;
      transition: transform 0.4s ease-in-out;
    }
  }

  .deposit-btn {
    padding: 0.5rem 1rem;
    margin-block-start: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    font-weight: 500;
    background-color: var(--clr-text);
    color: var(--clr-primary);
    border: none;
    outline-color: transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-image: linear-gradient(to left, var(--bg-gradient));
    }
  }
}

.copy-right {
  font-size: 1rem;
  margin-top: 1rem;
}

.result {
  max-width: 25rem;
}

.result--header {
  font-size: 1.5rem;
}

.result--value {
  /* font-family: 'Inconsolata'; */
  font-weight: 500;
}
