@import url(fonts.css);
@import url(reset.css);
@import url(utility.css);

body {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  color: #3b254b;
  background: url('../Images/BG-desktop.jpg') no-repeat center/cover,
    conic-gradient(var(--bg-gradient));
  padding-inline: 2.5rem;

  display: grid;
  place-content: center;
}

.company-header {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .company-logo {
    width: 80px;
    aspect-ratio: 2 / 3;
  }

  .company-name {
    line-height: 1;

    p:last-child {
      font-size: 2rem;
      font-weight: 600;
      background: linear-gradient(to right, #ca45ab, #24a2e0);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

#form {
  background-color: hsla(var(--fg-primary), 1);
  backdrop-filter: blur(8px);
  padding: 3rem 2.5rem;
  gap: 0.25rem;
  position: relative;
  border-radius: var(--border-radius);
  width: min(500px, 90vw);
}

.form-group {
  font-family: var(--ff-numeric);
  font-weight: 500;
  font-size: 1.75rem;
  padding: 0.5rem 0.75rem;
  border: 2px solid hsla(var(--fg-secondary));
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
}

#currency {
  background-color: transparent;
  outline: 0;
  border: 0;
}

.custom-select {
  appearance: none;
  padding: 0px 30px 0px 0px; /* Extra right padding for arrow */
  outline: 0;
  border: 0;
  cursor: pointer;

  background-image: url('../Images/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 25px 30px;
}

.custom-select option {
  background-color: hsla(var(--fg-primary), 1);
  text-align: center;
}

.input-container {
  position: relative;
  border-left: 2px solid hsla(var(--fg-secondary));
  margin-inline-start: 0.75rem;

  label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;

    font-size: 1.125rem;
    padding-inline: 0.5rem;
  }

  input:is(:focus-visible) + label {
    top: -20%;
    background-color: hsla(var(--fg-primary), 1);
    transition: all 300ms ease-in-out;
  }
}

.input-amount {
  width: 100%;
  background-color: transparent;
  padding: 0.2rem 0.75rem;
  outline: none;
  border: none;
  border-radius: 8px;
}

.terms {
  font-size: 0.75rem;
}

.deposit-btn {
  padding: 0.5rem 1rem;
  margin-block-start: 1.5rem;
  font-size: 1.125rem;
  letter-spacing: 0.25rem;
  font-weight: 500;
  background-color: rgb(45, 35, 70);
  color: hsla(var(--fg-primary), 1);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-image: linear-gradient(to left, var(--bg-gradient));
  }
}

.result {
  max-width: 25rem;
}

.result--header {
  font-size: 1.5rem;
}

.result--value {
  /* font-family: 'Inconsolata'; */
  font-weight: 500;
}

/* MOBILE SCREEN */
@media screen and (max-width: 499px) {
  body {
    background-image: url('../Images/BG-mobile.jpg');
  }
}

/* TABLET SCREEN */
@media screen and (min-width: 500px) and (max-width: 992px) {
  body {
    background-image: url('../Images/BG-tablet.jpg');
  }
}
