/* CUSTOM PROPERTIES */
:root {
  /* TYPOGRAPHY */
  /* FONTS */
  --ff-numeric: Inconsolata, sans-serif;
  --ff-text: 'Roboto Mono', sans-serif;
  --fs-body: 1.25rem;

  /* SPACING */
  --border-radius: 10px;

  /* COLORS */
  /* GRADIENT */
  --bg-gradient: #2c2a4e, #6b245a, #3b254b, #3b254b, #006a9e, #2c2a4e;
  --txt-gradient: #ca45ab, #24a2e0;

  /* LIGHT THEME */
  --clr-text: hsl(275, 34%, 22%);
  --clr-link: hsl(314, 56%, 53%);
  --clr-accent: hsl(314, 50%, 28%);
  --clr-native: hsl(0, 0%, 96%);
  --clr-primary: hsl(0, 6%, 71%);
  --clr-secondary: hsl(275, 34%, 22%);

  @media (prefers-color-scheme: dark) {
    /* DARK THEME */
    --clr-text: hsl(275, 34%, 22%);
    --clr-link: hsl(314, 56%, 53%);
    --clr-accent: hsl(314, 50%, 28%);
    --clr-native: hsl(0, 0%, 96%);
    --clr-primary: hsl(0, 6%, 71%);
    --clr-secondary: hsl(275, 34%, 22%);
  }
}

/* UTILITY CLASSES */
.hidden {
  display: none !important;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}
